<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mirror.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="UTF-8">
    <title>Mirror, Mirror...</title>
</head>
<script src="{{url_for('static', filename='js/weather_widget.js')}}"></script>
<script src="{{url_for('static', filename='js/stocks_widget.js')}}"></script>
<body onload="setUp()">

<div class="container fill">
    <div class="row h-25 row flex-nowrap justify-content-between align-items-center">
        <div class="weather-card col-4">
                    <div id="date-time">
                        <h2 id="date"> </h2> <h4 id="time"> </h4>
                    </div>
                </div>
        <div class="weather-card col-4">
            <div id="weather">
                <h1><i id="weather-icon" class="fa fa-question-circle"></i></h1> <h4 id="weather-temp"><i class="fa fa-question-circle"></i>&degC</h4>
            </div>
        </div>
    </div>


    <div class="row h-25">
        <div class="col-sm-12 h-100 d-table">
            <div class="card card-block d-table-cell align-middle text-center">
                <p>Events</p>
            </div>
        </div>
    </div>
    <div class="row h-25">
        <div class="col-sm-12 h-100 d-table">
            <div class="card card-block d-table-cell align-middle text-center">
                <p>Personal Stuff</p>
            </div>
        </div>
    </div>
    <div class="row h-25">
        <div id="stock-widget" class="col-sm-12 h-100 d-table">
            <div id="stock-carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <div  class="d-block w-100" src="..." alt="First slide">
                        AAPL 0
                    </div>
                </div>
                <div class="carousel-item">
                  <div  class="d-block w-100" src="..." alt="First slide">
                        MSFT 0
                    </div>
                </div>
                <div class="carousel-item">
                  <div  class="d-block w-100" src="..." alt="First slide">
                        WEED.TO 0
                    </div>
                </div>
              </div>
            </div>

        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>